header {
    display: flex; 
    padding-top: 1rem;
    padding-bottom: 1rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #1F2937; 

}

nav {
    display: flex; 
    align-items: center; 
}

a {
    color: white;
}